﻿@using Firo.Application.Models
@model CustomerDto
@{
    ViewData["Title"] = "Customer Create";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container-fluid mt-5">
    <div class="row justify-content-center">
        <div class="col-lg-10">
            <form id="customerForm">
                <br />
                <div class="card">
                    <div class="card-header">
                        <h2>@ViewData["Title"]</h2>
                    </div>
                    <div class="card-body">

                        <input type="hidden" value="@Model.CustomerId" id="CustomerId" name="CustomerId" />

                        <div class="row">

                            <div class="col-md-6 mb-3">
                                <label for="FullName" class="form-label">Full Name:<span style="color: red;">*</span></label>
                                <input type="text" class="form-control" id="FullName" name="FullName" value="@Model.FullName" required placeholder="Full Name" />
                            </div>

                            <div class="col-md-6 mb-3">
                                <label for="Phone" class="form-label">Phone:</label>
                                <input type="tel" class="form-control" id="Phone" name="Phone" value="@Model.Phone" placeholder="Phone" />
                            </div>

                            <div class="col-md-6 mb-3">
                                <label for="Email" class="form-label">Email:</label>
                                <input type="email" class="form-control" id="Email" name="Email" value="@Model.Email" placeholder="Email" />
                            </div>

                            <div class="col-md-6 mb-3">
                                <label for="Address" class="form-label">Address:</label>
                                <textarea class="form-control" id="Address" name="Address" placeholder="Address">@Model.Address</textarea>
                            </div>


                            <div class="col-md-6 mb-3">
                                <label for="CustomerType" class="form-label">Customer Type:</label>
                                <select class="form-control" id="CustomerType" name="CustomerType">
                                    <option value="">-- Select Customer Type --</option>
                                    @foreach (var type in (List<Firo.Application.Models.LookUpDto>)ViewBag.CustomerTypes)
                                    {
                                        <option value="@type.DataValue" @(type.DataValue == Model.CustomerType ? "selected" : "")>@type.DisplayText</option>
                                    }
                                </select>
                            </div>

                            <div class="col-md-6 mb-3">
                                <label for="OpeningDue" class="form-label">Opening Due:</label>
                                <input type="number" step="0.01" class="form-control" id="OpeningDue" name="OpeningDue" value="@Model.OpeningDue" placeholder="Opening Due" />
                            </div>

                            <div class="col-md-6 mb-3">
                                <div class="form-group">
                                    <label for="CompanyProfileId" class="form-label">Company Name:<span style="color: red;">*</span></label>
                                    <select class="form-control" name="CompanyProfileId" id="CompanyProfileId">
                                        <option value="">-- Select a Company --</option>
                                        @if (ViewBag.Companys != null)
                                        {
                                            var selectedCompanyId = Model?.CompanyProfileId.ToString();
                                            foreach (var item in ViewBag.Companys as List<SelectListItem>)
                                            {
                                                <option value="@item.Value" @(item.Value == selectedCompanyId ? "selected" : "")>@item.Text</option>
                                            }
                                        }
                                    </select>
                                </div>
                            </div>

                            <div class="col-md-6 mb-3">
                                <div class="form-group">
                                    <label for="BranchId" class="form-label">Branch Name:<span style="color: red;">*</span></label>
                                    <select class="form-control" name="BranchId" id="BranchId">
                                        <option value="">-- Select a Branch --</option>
                                        @if (ViewBag.Branches != null)
                                        {
                                            var selectedBranchId = Model?.BranchId.ToString();
                                            foreach (var item in ViewBag.Branches as List<SelectListItem>)
                                            {
                                                <option value="@item.Value" @(item.Value == selectedBranchId ? "selected" : "")>@item.Text</option>
                                            }
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6 mb-3">
                                <div class="form-group">
                                    <label for="IsActive" class="form-label">IsActive:</label>
                                    <div class="form-check">
                                        @Html.CheckBoxFor(m => m.IsActive, new { @class = "form-check-input", id = "IsActive" })
                                        <label class="form-check-label" for="IsActive">Active</label>
                                    </div>
                                </div>
                            </div>



                            <div class="col-md-6 mb-3">
                                <label for="Notes" class="form-label">Notes:</label>
                                <textarea class="form-control" id="Notes" name="Notes" placeholder="Notes">@Model.Notes</textarea>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="text-end">
                    <button type="button" id="saveCustomer" class="btn btn-primary">Save Customer</button>
                </div>

            </form>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/CustomJS/CreateCustomer.js"></script>
}