﻿@using Firo.Application.Models
@{
    ViewData["Title"] = "Customer List";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}



<div class="col-md-12 mt-1" style="line-height:.5">
    <form id="invoiceForm">
        <!-- Customer Information -->
        <div class="card card-primary" style="margin-bottom:.2rem">
            <div class="card-header py-1" style="background-color:#031222;">
                <h4 class="card-title">Customer Information</h4>
            </div>

			<div class="row gx-2 gy-1 align-items-end card-body">

				<div class="col-md-3">
					<label class="form-label">Phone<span style="color: red;">*</span></label>
					<input type="text" class="form-control" id="Phone" name="Phone" autocomplete="off" />
					<div id="phoneSuggestions"
						 class="list-group"
						 style="position:absolute; top:100%; z-index:1000; width:100%; display:none">
					</div>
				</div>

                

                <div class="col-md-3">
                     <label class="form-label">Name<span style="color: red;">*</span></label>
                     <input asp-for="CustomerFullName" class="form-control" id="FullName" name="FullName" />
                </div>

                

                <div class="col-md-2">
                    <label for="CustomerEmail" class="form-label">Email</label>
                    
                    <input asp-for="CustomerEmail" class="form-control" id="Email" name="Email" />
                </div>

                <div class="col-md-2">
                    <label for="CustomerAddress" class="form-label">Full Address</label>
                    
                    <input asp-for="CustomerAddress" class="form-control" id="Address" name="Address" />
                </div>
                <div class="col-md-2">
                    <label class="form-label">Invoice Number</label>
                    @* <input asp-for="InvoiceNumber" name="InvoiceNumber" class="form-control" /> *@
                    <input asp-for="InvoiceNumber" name="InvoiceNumber" id="InvoiceNumber" class="form-control" value="@ViewBag.NextInvoiceNumber" readonly />
                </div>

            </div>
        </div>

        <!-- Invoice Information -->
        <div class="row mt-1">
            <div class="col-12" style="line-height:.5">
                <div class="card card-primary" style="margin-bottom:.2rem">
                    <div class="card-header d-flex align-items-center py-1" style="background-color:#031222;">
                        <h4 class="card-title mb-0">Invoice Information</h4>
                        <button class="ml-auto btn btn-danger" style="padding: 4px 20px; font-size: 14px;">Add Item</button>
                    </div>

                    <div class="row gx-2 gy-1 align-items-end card-body">
                        <div class="col-md-6">
                            <label class="form-label">Product Description<span style="color: red;">*</span></label>
                            <input asp-for="ProductName" type="text" name="ProductName" id="productName" autocomplete="off" class="form-control" placeholder="Enter product name" />
                            <div id="productSuggestions" class="list-group position-absolute" style="z-index: 999;"></div>
                        </div>


                        
                        <div class="col-md-1">
                            <label class="form-label">Quantity<span style="color: red;">*</span></label>
                            <input asp-for="Unit" name="Unit" class="form-control quantity" value="1" />
                        </div>
                        <div class="col-md-2">
                            <label class="form-label">Category</label>
                            <select class="form-control" id="Category" name="Category">
                                <option value="">Select Category</option>
                                @foreach (var type in (List<Firo.Application.Models.LookUpDto>)ViewBag.Categories)
                                {
                                    <option value="@type.DataValue" @(Model?.CategoryType == type.DataValue ? "selected" : "")>@type.DisplayText</option>
                                }
                            </select>
                        </div>
                        <div class="col-md-1">
                            <label class="form-label">Price<span style="color: red;">*</span></label>
                            <input asp-for="Price" name="Price" class="form-control price" />
                        </div>
                        <div class="col-md-1">
                            <label class="form-label">Discount</label>
                            <input asp-for="Discount" name="Discount" class="form-control discount" />
                        </div>
                        <div class="col-md-1">
                            <label class="form-label">Total Price</label>
                            <input asp-for="TotalPrice" name="TotalPrice" class="form-control" readonly />
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </form>

    <!-- Order List Section -->
    
    <div class="row mt-1">
        <div class="col-12" style="line-height:.5">
            <div class="row">
                <div class="col-md-9">
                    <div class="card card-primary" style="margin-bottom:.2rem">
                        <div class="card-header py-1" style="background-color:#031222;">
                            <h4 class="card-title">Order List</h4>
                        </div>
                        <div class="card-body py-2">
                            <div class="table-responsive">
                                <table class="table table-bordered table-striped mb-0">
                                    <thead class="table-light">
                                        <tr>
                                            <th style="width: 300px;">Product Name</th>
                                            
                                            <th style="width: 100px;">Category</th>
                                            <th style="width: 50px;">Quantity</th>
                                            <th style="width: 80px;">Price</th>
                                            <th style="width: 100px;">Discount</th>
                                            <th style="width: 120px;">Total Price</th>
                                            <th style="width: 100px;">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody id="orderListTable">
                                        
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-md-3 ms-auto" style="line-height:.5">
                    <!-- Order Summary Section -->
                    <div class="card card-primary" style="margin-bottom:.2rem">
                        <div class="card-header py-1" style="background-color:#031222;">
                            <h4 class="card-title text-end">Order Summary</h4>
                        </div>
                        <div class="card-body text-end p-2">
                            <div class="mb-2 d-flex justify-content-between align-items-center">
                                <label class="mb-0">Subtotal</label>
                                <input type="number" class="form-control form-control-sm w-50" placeholder="Subtotal" name="Subtotal" id="subtotal" readonly />
                            </div>
                            <div class="mb-2 d-flex justify-content-between align-items-center">
                                <label class="mb-0">Discount</label>
                                <input type="number" class="form-control form-control-sm w-50" id="discount" name="Discunt" placeholder="Discount" readonly />
                            </div>
                            <div class="mb-2 d-flex justify-content-between align-items-center">
                                <label class="mb-0">Extra Discount</label>
                                <input type="number" class="form-control form-control-sm w-50 extradiscount" name="ExtraDiscount" id="extraDiscount" placeholder="Discount" />
                            </div>
                            <div class="mb-2 d-flex justify-content-between align-items-center">
                                <label class="mb-0">Grand Total</label>
                                <input type="number" class="form-control form-control-sm w-50" name="GrandTotal" id="grandTotal" placeholder="Grand Total" readonly />
                            </div>
                            <div class="mb-2 d-flex justify-content-between align-items-center">
                                <label class="mb-0">Total Discount</label>
                                <input type="number" class="form-control form-control-sm w-50" id="totalDiscount" name="TotalDiscunt" placeholder="TotalDiscount" readonly />
                            </div>
                            <div class="mb-2 d-flex justify-content-between align-items-center">
                                <label class="mb-0">Pay Amount</label>
                                <input type="number" class="form-control form-control-sm w-50 payment" name="Payment" id="payment" placeholder="Payment" />
                            </div>

                            <div class="mb-2 d-flex justify-content-between align-items-center">
                                <label class="mb-0">Due Amount</label>
                                <input type="number" class="form-control form-control-sm w-50" name="Due" id="due" placeholder="Due Amount" readonly />
                            </div>

                            <div class="mb-2 d-flex justify-content-between align-items-center">
                                <label class="mb-0">Exchange Amount</label>
                                <input type="number" class="form-control form-control-sm w-50" name="Exchange" id="exchange" placeholder="Exchange" readonly />
                            </div>

                            <div class="mb-2 d-flex justify-content-between align-items-center fw-bold">
                                <label class="mb-0">Paid</label>
                                <input type="number" class="form-control form-control-sm w-50 fw-bold" name="Paid" id="paid" placeholder="Paid Amount" readonly />
                            </div>

                            <!-- Payment Method -->
                            @if (ViewBag.PaymentMethods != null)
                            {
                                <div class="form-group mb-1 text-end">
                                    <label class="fw-bold mb-1 d-block text-end">Payment Method:<sup><span>*</span></sup></label>
                                    <div class="d-flex flex-wrap gap-2 justify-content-start">
                                        @foreach (var item in (List<LookUpDto>)ViewBag.PaymentMethods)
                                        {
                                            var isChecked = item.DataValue == "Cash" ? "checked" : "";

                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" name="paymentMethod" id="@item.DataValue" value="@item.DataValue" @isChecked />
                                                <label class="form-check-label" for="@item.DataValue">@item.DisplayText</label>
                                            </div>
                                        }
                                    </div>
                                </div>
                            }
                            else
                            {
                                <p class="text-danger">No payment methods available.</p>
                            }

                            <!-- Buttons -->
                            <div class="mt-1 d-flex gap-2 justify-content-end">
                                <button type="button" id="SaveButton" class="btn btn-success px-4">
                                    Save
                                </button>
                                @* <button type="button" id="PrintButton" class="btn btn-success px-4">
                                    Print
                                </button> *@
                            </div>
                        </div>
                    </div>


                </div>

            </div>

        </div>
    </div>
 </div>

@section Scripts {

    <script src="~/CustomJs/InvoiceCreate.js"></script>
}