@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@Configuration["Co-Information:CompanyName"] | Dashboard</title>

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="~/css/Google-Font-css.css" />
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/Admin/plugins/fontawesome-free/css/all.min.css">
    <!-- Ionicons -->

    <link href="~/css/ionicons-2.0.1/css/ionicons.min.css" rel="stylesheet" />
    <!-- Tempusdominus Bootstrap 4 -->
    <link rel="stylesheet" href="~/Admin/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css">
    <!-- iCheck -->
    <link rel="stylesheet" href="~/Admin/plugins/icheck-bootstrap/icheck-bootstrap.min.css">

    <!-- Theme style -->
    <link rel="stylesheet" href="~/Admin/dist/css/adminlte.min.css">
    <!-- overlayScrollbars -->
    <link rel="stylesheet" href="~/Admin/plugins/overlayScrollbars/css/OverlayScrollbars.min.css">
    <!-- Daterange picker -->
    <link rel="stylesheet" href="~/Admin/plugins/daterangepicker/daterangepicker.css">

    <link rel="stylesheet" href="~/Admin/plugins/toastr/toastr.min.css">

    <link rel="stylesheet" href="~/Admin/plugins/sweetalert2-theme-bootstrap-4/bootstrap-4.min.css">
    <!-- summernote -->
    <link rel="stylesheet" href="~/Admin/plugins/summernote/summernote-bs4.min.css">
    <!-- Select2 -->
    <link rel="stylesheet" href="~/Admin/plugins/select2/css/select2.min.css">
    <link rel="stylesheet" href="~/Admin/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css">


    <!-- Theme style -->
    <link rel="stylesheet" href="~/Admin/dist/css/adminlte.min.css?v=3.2.0">

    <link rel="stylesheet" href="~/css/custom.css">
    <link rel="stylesheet" href="~/css/pagination.css">

</head>
<body class="hold-transition sidebar-mini layout-fixed">
    <div class="wrapper">
        <!-- Ensure this element exists in your HTML -->
        <!-- Preloader -->
        <div class="preloader flex-column justify-content-center align-items-center">
            <img class="animation__shake" src="~/Admin/dist/img/firotech-logo.png" alt="" height="60" width="60">
        </div>

        <!-- Navbar -->
        <nav class="main-header navbar navbar-expand navbar-white navbar-light">
            <!-- Left navbar links -->
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
                </li>
                <li class="nav-item d-none d-sm-inline-block">
                    <a href="~/Sales/ShopPos" class="nav-link" target="_blank"><strong>FiroBill</strong></a>
                </li>
            </ul>

            <!-- Right navbar links -->
            <ul class="navbar-nav ml-auto">
                <!-- Navbar Search -->
                <li class="nav-item">
                    <a class="nav-link" data-widget="navbar-search" href="#" role="button">
                        <i class="fas fa-search"></i>
                    </a>
                    <div class="navbar-search-block">
                        <form class="form-inline">
                            <div class="input-group input-group-sm">
                                <input class="form-control form-control-navbar" type="search" placeholder="Search" aria-label="Search">
                                <div class="input-group-append">
                                    <button class="btn btn-navbar" type="submit">
                                        <i class="fas fa-search"></i>
                                    </button>
                                    <button class="btn btn-navbar" type="button" data-widget="navbar-search">
                                        <i class="fas fa-times"></i>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </li>


              

                <!-- Notifications Dropdown End -->
                <li class="nav-item">
                    <a class="nav-link" data-widget="fullscreen" href="#" role="button">
                        <i class="fas fa-expand-arrows-alt"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-widget="control-sidebar" data-slide="true" href="#" role="button">
                        <i class="fas fa-th-large"></i>
                    </a>
                </li>
                <li>
                    <partial name="_LoginPartial" />
                </li>
            </ul>
        </nav>
        <!-- /.navbar -->
        <!-- Main Sidebar Container -->
        <aside class="main-sidebar sidebar-dark-primary elevation-4">
            <a href="~/Admin/Dashboard" class="brand-link">
                <img src="~/Admin/dist//img/firotech-logo.png" alt="" class="brand-image img-circle elevation-3" style="opacity: .8">
                <span class="brand-text font-weight-light">FiroBills</span>
            </a>
            <div class="sidebar">
                <partial name="_AdminSidebar" />
            </div>
        </aside>
        
        <!-- Content Wrapper -->
        <div class="content-wrapper">
           
            <section class="content">
                <div class="container-fluid">
                    <main role="main" class="pb-3">
                        @RenderBody()
                    </main>
                </div>
            </section>
        </div>
        <!-- Footer -->
        <footer class="main-footer">
            <strong>Copyright &copy; @DateTime.Today.Year @Configuration["Co-Information:CompanyName"]</strong>
            @Configuration["Co-Information:Copyright"]
            <div class="float-right d-none d-sm-inline-block">
                <b>Version</b> @Configuration["Co-Information:Version"]
            </div>
        </footer>
        <aside class="control-sidebar control-sidebar-dark"></aside>
    </div>

    <!-- jQuery -->
    <script src="~/Admin/plugins/jquery/jquery.min.js"></script>

    <!-- jQuery UI 1.11.4 -->
    <script src="~/Admin/plugins/jquery-ui/jquery-ui.min.js"></script>

    <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
    <script>
        $.widget.bridge('uibutton', $.ui.button)
    </script>

    <!-- Bootstrap 4 -->
    <script src="~/Admin/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>


    <!-- daterangepicker -->
    <script src="~/Admin/plugins/moment/moment.min.js"></script>

    <script src="~/Admin/plugins/daterangepicker/daterangepicker.js"></script>

    <!-- Tempusdominus Bootstrap 4 -->
    <script src="~/Admin/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>

    <!-- Summernote -->
    <script src="~/Admin/plugins/summernote/summernote-bs4.min.js"></script>

    <!-- overlayScrollbars -->
    <script src="~/Admin/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>

    <!-- AdminLTE App -->
    <script src="~/Admin/dist/js/adminlte.js"></script>

    <!-- SweetAlert2 -->
    <script src="~/Admin/plugins/sweetalert2/sweetalert2.min.js"></script>

    <!-- Toastr -->
    <script src="~/Admin/plugins/toastr/toastr.min.js"></script>
    <!-- Select2 -->
    <script src="~/Admin/plugins/select2/js/select2.full.min.js"></script>
    @* <script src="~/js/customjs/notification.js"></script> *@
    <script src="~/js/print.min.js"></script>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const currentPath = window.location.pathname.toLowerCase();

            // Add paths where you want the sidebar to auto-collapse
            const collapseSidebarOnThesePaths = [
                "/invoice/invoicecreate",
                // Add more paths as needed
            ];

            if (collapseSidebarOnThesePaths.includes(currentPath)) {
                const body = document.body;
                if (!body.classList.contains("sidebar-collapse")) {
                    document.querySelector('[data-widget="pushmenu"]').click();
                }
            }
        });
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
